<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%= trackingId %>"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '<%= trackingId %>');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title><%= title %></title>
		<meta property="og:title" content="<%= title %>">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="<%= title %>">
		<meta property="og:description" content="<%= description %>">
		<meta property="og:url" content="<%= baseUrl %>/">
		<meta property="og:image" content="<%= baseUrl %>/logo.png?<%= hash( 'assets/logo.png' ) %>">
		<meta property="twitter:image" content="<%= baseUrl %>/logo.png?<%= hash( 'assets/logo.png' ) %>">
	</head>
	<body>
		<r3></r3>
	</body>
</html>
